@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    margin:0;
    padding: 0;
    user-select: none;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}
.box{
    background: rgb(255, 255, 255);
    border-radius: 7px;
    padding-top: 30px;
    padding: 30px;
    margin-left: 100px;
    height: 265px;
}
header h2{
    margin-bottom: 40px;
    text-align: center;
    font-size: 21px;
    color: black;
    font-weight: 500;
}
input{
    padding: 20px;
    user-select: none;
    height: 50px;
    width: 400px;
    border-radius: 5px;
    border: 1px solid #999;
    font-size: 17px;
}
#button{
    width: 156px;
    height: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    color: #fff;
    margin-top: 20px;
    font-size: 17px;
    background: #3498DB;
    border-radius: 20%;
    font-weight: 500;
}
.btn2{
    margin-left: 85px;
}
#button:hover{
    color: white;
    background: rgb(173, 99, 99);
}

